<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="booking_care_selenium">
        <classes>
            <class name="testcases.course.Course_01_RegisterCourse_With_Login_Redirect">
                <methods>
                    <include name="registerCourseSuccessfully"/>
                </methods>
            </class>
            <class name="testcases.course.Course_02_Register_Duplicate_Course_After_Login_Redirect">
                <methods>
                    <include name="registerDuplicateCourseShouldShowError"/>
                </methods>
            </class>
            <class name="testcases.course.Course_03_RegisterCourse_Authenticated_User_Success">
                <methods>
                    <include name="registerCourseAuthenticatedUserSuccessfully"/>
                </methods>
            </class>
            <class name="testcases.course.Course_04_Register_Duplicate_Course_Authenticated_User_Error">
                <methods>
                    <include name="registerDuplicateCourseAuthenticatedUserError"/>
                </methods>
            </class>
            <class name="testcases.course.Course_05_Register_Multiple_Courses_Authenticated_User_Success">
                <methods>
                    <include name="registerMultipleCoursesAuthenticatedUserSuccessfully"/>
                </methods>
            </class>
            <class name="testcases.course.Course_06_Register_New_User_And_Enroll_Course_From_Detail_Page">
                <methods>
                    <include name="registerNewUserAndEnrollCourseFromDetailPageSuccessfully"/>
                </methods>
            </class>

            <class name="testcases.login.Login01_Verify_Login_Successfully">
                <methods>
                    <include name="Login01_Login_Successfully"/>
                </methods>
            </class>
            <class name="testcases.register.Register01_Verify_Register_Successfully">
                <methods>
                    <include name="Register01_Register_Successfully"/>
                </methods>
            </class>
            <class name="testcases.search.Search_Valid_KeyWord">
                <methods>
                    <include name="TC01_Search_With_Valid_Keyword"/>
                </methods>
            </class>
            <class name="testcases.search.Search_Invalid_KeyWord">
                <methods>
                    <include name="TC02_Search_With_Invalid_Keyword"/>
                </methods>
            </class>
            <class name="testcases.search.Search_Special_Character">
                <methods>
                    <include name="TC03_Search_With_Special_Character"/>
                </methods>
            </class>
            <class name="testcases.search.Search_Empty_KeyWord">
                <methods>
                    <include name="TC04_Search_With_Empty_Keyword"/>
                </methods>
            </class>
            <class name="testcases.search.Search_Text_And_Special_Character">
                <methods>
                    <include name="TC05_Search_With_Text_And_Special_Character"/>
                </methods>
            </class>
            <class name="testcases.search.Search_Uppercase_KeyWord">
                <methods>
                    <include name="TC06_Search_With_Uppercase_KeyWord"/>
                </methods>
            </class>
            <class name="testcases.search.Search_With_Space_Text">
                <methods>
                    <include name="TC07_Search_With_Space_Text"/>
                </methods>
            </class>
            <class name="testcases.search.Search_Long_KeyWord">
                <methods>
                    <include name="TC08_Search_With_Long_Keyword"/>
                </methods>
            </class>
            <class name="testcases.search.Search_Space_Enter">
                <methods>
                    <include name="TC09_Search_With_Space_Enter"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>