<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="booking_care_selenium">
        <classes>
            <class name="testcases.course.CourseRegistrationTest">
                <methods>
                    <include name="registerCourseSuccessfully"/>
                    <include name="registerDuplicateCourseShouldShowError"/>
                </methods>
            </class>
            <class name="testcases.course.CourseRegistrationNegativeTest">
                <methods>
                    <include name="DKKH_01_registerWithoutLogin"/>
                </methods>
            </class>
            <class name="testcases.course.CourseRegistrationMultipleTest">
                <methods>
                    <include name="DKKH_03_registerMultipleCourses"/>
                    <include name="DKKH_06_multipleUsersRegisterSameCourse"/>
                </methods>
            </class>
            <class name="testcases.course.CourseRegistrationAccountTest">
                <methods>
                    <include name="DKKH_05_verifyRegisteredCourseInAccount"/>
                    <include name="DKKH_07_verifyCoursePersistsAfterReLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>